.recipe-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.recipe-detail {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-height: 80vh;
  min-width: 80vw;

  .recipe-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  .recipe-detail-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 1px solid #120303;
    border-radius: 5px;
  }

  .recipe-detail-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;

    .recipe-description {
      grid-column: 1 / -1;
      margin-bottom: 20px;
    }

    .recipe-ingredients,
    .recipe-instructions {
      p {
        margin: 0;
        padding: 10px 0;

        strong {
          display: block;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .recipe-detail {
    max-width: 100%;
  }

  .recipe-detail-image {
    width: 200px;
    height: 133px;
  }
}
